{% extends 'layout.html' %}
{% block mytitle %}
    <title>管理员列表</title>
{% endblock %}
{% block mystyle %}
{% endblock %}
{% block info %}
    <div class="container">
        <div style="margin-bottom: 10px" class="clearfix">
            <a href="/admin/add/" class="btn btn-primary"><i class="fa fa-plus"></i>新建管理员</a>
            <div style="float: right;width: 300px">
                <form method="get">
                    <div class="input-group">
                        <input type="text" name="u" placeholder="Search for username" class="form-control"
                               value={{ search_data }}>
                        <span class="input-group-btn">
                        <button class="btn btn-default"><i class="fa fa-search"></i> </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-list"></i>管理员列表</div>
            <table class="table table-hover table-condensed table-bordered">
                <thead class="text-center">
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>重置密码</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for admin in queryset %}
                    <tr>
                        <th scope="row">{{ admin.id }}</th>
                        <td>{{ admin.username }}</td>
                        <td>{{ admin.password }}</td>
                        <td><a href="/admin/{{ admin.id }}/reset/">重置密码</a></td>
                        <td><a href="/admin/{{ admin.id }}/edit/" class="btn btn-info btn-xs">编辑</a><a
                                href="/admin/{{ admin.id }}/delete/"
                                class="btn btn-danger btn-xs">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <ul class="pagination pagination-xs">
                {{ page_str }}
            </ul>
        </div>
    </div>
{% endblock %}