{% extends 'layout.html' %}
{#{% load cache %}#}
{% load static %}
{#{% load compress %}#}
{% block mytitle %}
    <title>智检慧医</title>
{% endblock %}
{% block mystyle %}
    {#    {% compress css %}#}
    <link rel="stylesheet" href="{% static 'css/query.css' %}">
    <style>
        tbody > td > div {
            overflow: hidden !important;
            white-space: nowrap;
            text-overflow: ellipsis !important;
        }
    </style>
    {#    {% endcompress %}#}
{% endblock %}

{% block info %}
    {#    <div class="container-fluid card">#}
    <div class="modal fade" id="ImageModal" tabindex="-1" aria-labelledby="ImageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content text-center">
                <div class="modal-header text-primary">
                    <h1 class="modal-title fs-5" id="ImageModalLabel">文献图片</h1>
                    <button type="button" class="btn-close btn-outline-info" data-bs-dismiss="modal"
                            aria-label="Close">X
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-group text-center" id="imgcard"></div>
                </div>
            </div>
        </div>
    </div>

    <div id='PleaseWait' class='watiting-div'
         style='justify-content: center;z-index: 10;opacity: 0.7;position: absolute;display: flex;background: #111010'></div>
    <div class="container-fluid" id="wrapper">
        <div class="container" style="margin: 50px auto">
            <form method="get" onsubmit="return bindsubmit()">
                <div style="width: 80%;margin: auto;">
                    {% csrf_token %}
                    <div class="input-group mb-3 has-validation">
                        <button id="cur_way" class="btn btn-outline-primary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false">本地
                        </button>
                        <ul class="dropdown-menu text-center" style="min-width: auto;">
                            <li>
                                <button id="zhiwang" class="btn" type="button">知网</button>
                            </li>
                            <li id="wanfang"><a class="dropdown-item" target="_blank"
                                                href="https://s.wanfangdata.com.cn/paper?q={{ search_data }}">万方</a>
                            </li>
                        </ul>
                        <div class="form-floating btn-outline-info">
                            <input type="text" name="keyword" class="form-control"
                                   aria-label="Text input with dropdown button" placeholder="Search for Keyword"
                                   id="keyword" autocomplete="off" value="{{ search_data }}"
                            >
                            <label for="keyword">Search for Keyword</label>
                            <input type="text" name="start" id="start" value="{{ start }}" style="display: none">
                        </div>
                        <button class="btn btn-outline-primary" type="submit" id="search"
                                value="Go!" onsubmit="return bindsubmit()">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <div class="text-center text-danger valid-feedback" id="fedback" style="display: block">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <section class="loader" style="display: none;width: auto;height: auto;">

            <div style="--i:0" class="slider">
            </div>
            <div style="--i:1" class="slider">
            </div>
            <div style="--i:2" class="slider">
            </div>
            <div style="--i:3" class="slider">
            </div>
            <div style="--i:4" class="slider">
            </div>
        </section>

        {% if code == 404 %}
            <div id="restip">
                {% if  search_data == '' %}
                    <div class="text-center" style="margin: 100px auto;font-size: 20px">
                        您当前输入的关键词为空，请重新输入，谢谢！
                    </div>
                {% else %}
                    <div class="text-center" style="margin: 100px auto;font-size: 20px">
                        抱歉本地数据库未检索到含有
                        <span style="color: red">{{ search_data }}</span>
                        的关键词文献
                    </div>
                {% endif %}
            </div>
        {% elif code == 200 %}
            {% for pninfo in page_info %}
                {% if pninfo.num == 1 %}
                    <div class="container-fluid card table-responsive" id="tb" style="display: block">
                    <div class="table-responsive" style="display: flex;align-items: center"><i class="fa fa-list"></i>文献列表
                        <div class="small" style="color: grey;margin-left: 20px">检索到{{ doc_num }}篇文献含有关键词<span
                                class="text-danger">{{ search_data }}</span>共耗时{{ cost_time }}s
                        </div>
                    </div>
                    <table class="wrappercontent table table-hover table-condensed ">
                    <thead class="text-center table-default">
                    <tr>
                        <th>ID</th>
                        <th>文献名称</th>
                        <th>点击量分</th>
                        <th>用户反馈分</th>
                        <th>相关度分</th>
                        <th>总分</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="text-center info">
                {% endif %}

                {#                        {% for pninfo in page_info %}#}
                <tr uid="{{ pninfo.id }}" class="tr wrappercontent">
                    <th scope="row" style="display: none">{{ pninfo.id }}</th>
                    <th scope="row">{{ pninfo.num }}</th>
                    <td>
                        <div>{{ pninfo.name }}</div>
                    </td>
                    <td class="clkscore" uid="{{ pninfo.id }}">{{ pninfo.clkscore }}</td>
                    <td>{{ pninfo.fedbakscore }}</td>
                    <td>{{ pninfo.relscore }}</td>
                    <td>{{ pninfo.allscore }}</td>
                    <td>
                        <button uid="{{ pninfo.id }}" type="button" class="btn btn-sm btn-default btn_img"
                                data-bs-toggle="modal"
                                data-bs-target="#ImageModal">
                            <i class="fa-solid fa-image"></i>
                        </button>
                        <button uid="{{ pninfo.id }}" class="btn btn-default btn-sm clk"
                                type="button">
                            <i class="fa-solid fa-eye"></i>
                        </button>
                        {#                                <input uid="{{ pninfo.id }}" type="button" class="btn btn-danger btn-xs btn_del"#}
                        {#                                       value="删除">#}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
        </tbody>
        </table>
        {#            </div>#}
        {#        </div>#}
        </div>
        <nav aria-label="Page navigation example" id="pagination" style="display: none">
            <ul class="pagination" style="justify-content: center">
                <li class="page-item">
                    <button class="page-link" id="prev" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                {#                    <li class="page-item"><a class="page-link" href="#">1</a></li>#}
                {#                    <li class="page-item"><a class="page-link" href="#">2</a></li>#}
                {#                    <li class="page-item"><a class="page-link" href="#">3</a></li>#}
                <li class="page-item">
                    <button class="page-link" id="next" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
        {#            <a href="#top" id="back" class="set btn btn-info btn-sm back">#}
        {#                <i class="fa-solid fa-caret-up"></i>#}
        {#            </a>#}
        <div id="tb_container" class="card text-center"></div>
        <div class="text-center" style="margin:0 auto">
            <ul class="list-unstyled" style="margin-top: 30px;line-height: 30px;">
                <li>
                    <h5 class="text-center"
                        style="display: none;margin: 10px auto;font-size: 14px;color: #b5b5b5;" id="slogan">
                        猜你想搜:
                    </h5>
                    <p class="text-center" id="relsearch"
                       style="display: inline-block;vertical-align: top; width: 100%;font-size: 14px;"></p>
                </li>
            </ul>
        </div>
    </div>
    {#    </div>#}



{% endblock %}

{% block myscript %}
    {#    {% compress js %}#}
    <script type="text/javascript">
        let SEARCHWAY = "本地";
        let START = 0;
        $(function () {
            {#bindbtndel();#}
            bindclk();
            bindsettb();
            bindsubmit();
            bindbtnimg();
            change_search_way();
            changepage();
            rel_search();
        })

        function bindbtnimg() {
            $(".btn_img").click(function () {
                IMG_ID = $(this).attr('uid');
                $.ajax({
                    url: "/doc/img/",
                    type: 'post',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        uid: IMG_ID
                    },
                    dataType: 'json',
                    success: function (res) {
                        let card = $("#imgcard");
                        card.children().remove();
                        if (res.status === 200) {
                            {#let img_residue = res.names.length;#}
                            {#let num = 0;#}
                            first:for (let i = 0; i < res.names.length; i++) {
                                {#console.log(res.names.length, res.paths[i])#}
                                let row = $("<div>")
                                row.attr({
                                    'class': 'row',
                                    'style': 'width:100%;margin: 0 auto'
                                })
                                {#if (img_residue >= 4) {#}
                                if (i % 4 === 0) {
                                    for (let j = 0; j < 4; j++) {
                                        if (res.names[i + j] === undefined) {
                                            {#console.log(i + j)#}
                                            break first
                                        } else {
                                            html = "<div style='width:25%;margin: 0 auto' class=\"card col-12 col-md-3 p-3 fanimate\">" + "<img style='min-width: 100%px!important;' width='128px' height='128px' src = " + "\"" + res.paths[i + j] + "\"" + " class =\"card-img-top\" alt = \"\">" +
                                                "<div class=\"card-body\">" + "<h5 class=\"card-title text-center\" >" + "页码-编号：" + res.names[i + j] + "</h5></div>"
                                            row.append(html)
                                            card.append(row)
                                        }
                                    }
                                }
                            }
                        } else {
                            html = "<h5 class='text-danger' style='width:50%;margin: 0 auto'>抱歉，该文献中未发现图片！</h5>"
                            card.append(html)
                            {#console.log(res)#}
                        }
                    }
                })

            })
        }


        function change_search_way() {
            $("#zhiwang").click(function () {
                $("#restip").children().remove();
                $("#tb").hide();
                if (SEARCHWAY === "本地") {
                    $("#zhiwang").text(SEARCHWAY)
                    SEARCHWAY = "知网";
                    $("#cur_way").text(SEARCHWAY)
                    $("#pagination").hide()
                } else {
                    $("#zhiwang").text(SEARCHWAY)
                    SEARCHWAY = "本地";
                    $("#cur_way").text(SEARCHWAY)
                    {#$("#pagination").show()#}
                }
            });

        }

        function bindsettb() {
            if ($("tbody")) {
                tb = $("tbody").children()
                {#console.log(tb)#}
                trcss = ['table-primary', 'table-secondary', 'table-success', 'table-danger', 'table-warning', 'table-light']
                for (let i = 0; i < tb.length; i++) {
                    {#$(".tr")[i].setAttribute("class", "tr " + trcss[(i % 6)])#}
                    {#console.log(tb[i])#}
                    tb[i].setAttribute("class", "tr " + trcss[(i % 6)])
                }
            }
        }


        function bindsubmit() {
            ikw = $("#keyword")
            let keywords = ikw.val()
            if (keywords !== "") {
                ikw.removeClass("is-invalid")
                ikw.addClass("is-valid")
                $("#fedback").text("")
                {#console.log($("#tb").length)#}
                if ($("#tb").length !== 0) {
                    $("#global-loader").show()
                }
                if (SEARCHWAY === "知网") {
                    $("#relsearch").children().detach();
                    $("#tb").detach();
                    $.ajax({
                        url: '/doc/external/',
                        type: 'GET',
                        data: {
                            'keywords': keywords,
                            'start': 0,
                            'end': 10
                        },
                        dataType: 'json',
                        success: function (res) {
                            $("#tb_container").empty()
                            if (res.status === 200) {
                                $(".loader").remove();
                                divcf = $("<div>");
                                divcf.attr({
                                    'class': "container-fluid table-responsive",
                                    'id': "tb",
                                    'style': "display: block"
                                })
                                table = $("<table>")
                                table.attr({
                                    'class': "table table-hover table-condensed"
                                })
                                thead = $("<thead>")
                                thead.attr({
                                    'class': "text-center"
                                })
                                tr = $("<tr>")
                                th1 = $("<th>")
                                th2 = $("<th>")
                                th1.text("文献名")
                                th2.text("操作")
                                tr.append(th1)
                                tr.append(th2)
                                thead.append(tr)
                                table.append(thead)
                                tbody = $("<tbody>")
                                tbody.attr('class', 'text-center')
                                for (let i = 0; i < res.data.length; i++) {
                                    trby = $("<tr>")
                                    td1 = $("<td>")
                                    td2 = $("<td>")
                                    a = $("<a>")
                                    td1.text(res.data[i].name)
                                    a.attr({
                                        'href': res.data[i].href,
                                        'target': '_blank',
                                        'style': 'text-decoration: none'
                                    })
                                    a.html("<i class='fa-solid fa-eye'></i>")
                                    td2.append(a)
                                    trby.append(td1)
                                    trby.append(td2)
                                    tbody.append(trby)
                                }
                                table.append(tbody)
                                divcf.append(table)
                                $("#tb_container").prepend(divcf)
                                bindsettb()
                                {#if (!$("#relsearch").text()) {#}

                            } else {
                                let tb_con = $("#tb_container")
                                tb_con.text("抱歉由于您的网络问题，导致检索超时，请重试谢谢！")
                                {#$("#tb_container").append("<strong class=\"text-danger\">抱歉由于您的网络问题，导致检索超时，请重试谢谢！</strong>")#}
                                tb_con.attr('class', 'text-danger text-center')
                            }
                            $("#global-loader").hide()
                            rel_search();
                        }
                    })
                    return false
                } else {
                    ikw = $("#keyword")
                    ikw.removeClass("is-invalid")
                    ikw.addClass("is-valid")
                    if ($("#restip").text() === "") {
                        $("#pagination").show();
                        {#console.log("显示分页")#}
                    } else {
                        $("#pagination").hide();
                    }
                    return true
                }

            } else {
                $("#tb").empty();
                $("#restip").empty();
                $("#keyword").addClass("is-invalid")
                $("#fedback").text("请输入检索关键词!")
                $(".loader").css('display', "flex")
                {#console.log("输入为空")#}
                $("#pagination").hide()
                return false
            }
        }

        function changepage() {
            let now_start = $("#start").val()
            $("#prev").click(function () {
                {#console.log("{{ final_page }}", now_start)#}
                if (now_start >= 10) {
                    new_start = parseInt(now_start) - 10;
                    $("#start").val(new_start);
                }
                $("#search").click();
            });
            $("#next").click(function () {
                {#console.log("{{ final_page }}", now_start)#}
                if ('{{ final_page }}' === "False") {
                    new_start = parseInt(now_start) + 10;
                    $("#start").val(new_start);
                }
                $("#search").click();
            })
        }

        function rel_search() {
            $("#slogan").show();
            {#$("#relsearch").removeTag('span')#}
            let keyword = $("#keyword").val()
            if (!keyword) {
                keyword = "心血管"
            }
            {#console.log(keyword)#}
            $.ajax({
                {#url: 'https://recom.cnki.net/api/recommendations/words/union',#}
                url: '/doc/union/',
                type: 'GET',
                data: {
                    'keyword': keyword,
                },
                dataType: 'json',
                success: function (res) {
                    const relwords = res.wordres;
                    if (relwords) {
                        relwords.forEach(function (key, index) {
                            if (index === 5) {
                                $("#relsearch").append($("</br>"))
                            }
                            let a = $("<a>").attr({
                                'href': '/doc/query/?keyword=' + key,
                                'style': 'color:#0095d9;text-decoration: none;padding:10px;cursor: pointer;',
                            })
                            a.text(key)
                            let span = $("<span>").append(a)
                            span.attr({
                                'style': 'display: inline-block;width: 105px;margin-left:10px;font-size:14px;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;'
                            })
                            $("#relsearch").append(span)
                            a.hover(function () {
                                a.css("color", "#b44c97");
                            }, function () {
                                a.css("color", "#0095d9");
                            });
                        })
                    } else {
                        $("#slogan").text("未搜索到相关词语")
                    }

                }
            })
        }

        function keydown_enter() {
            $("#keyword").keydown(function (event) {
                if (event.keyCode === 13) {
                    {#console.log("按下了回车键")#}
                    $("#search").click();
                    return true;
                }
            });
        }

        function bindbtndel() {
            $(".btn_del").click(function () {
                {#显示删除对话框#}
                $('#delModal').modal('show');
                {#获取当前行id并保存到全局变量中#}
                DELETE_ID = $(this).attr('uid');
            })
            $(".btn_del_yes").click(function () {
                $.ajax({
                    url: "/doc/del/",
                    type: 'get',
                    data: {
                        uid: DELETE_ID
                    },
                    dataType: 'json',
                    success: function (res) {
                        if (res.status) {
                            $('#delModal').modal('hide');
                            $("tr[uid=" + DELETE_ID + "]").remove();
                        } else {
                            alert(res.err)
                            $('#delModal').modal('hide');
                            {#console.log(res)#}
                        }

                    }
                })
            })
        }

        function bindclk() {
            $('.clk').click(function () {
                let id = $(this).attr('uid')
                $.ajax({
                    url: "/doc/" + id + "/clk/",
                    type: "get",
                    dataType: 'json',
                    success: function (res) {
                        {#console.log(res)#}
                        obj = $(".clkscore")
                        let uid = obj.attr("uid")
                        for (let i = 0; i < obj['length']; i++) {
                            if (obj[i].getAttribute('uid') === id) {
                                obj[i].textContent = res.clkscore
                            }
                        }
                        window.location.href = '/doc/details/?text={{ search_data }}&uid=' + res.doc_id
                    }
                })
            })
        }

    </script>
    {#    {% endcompress %}#}
{% endblock %}