{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    {% block mytitle %}
        <title>标题</title>
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#    <link rel="stylesheet"#}
    {#          href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css' %}">#}
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    {#    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free-6.2.1-web/css/fontawesome.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.2.3/css/bootstrap.min.css' %}">
    {% block mystyle %}
    {% endblock %}
    <style>
        html, body {
            margin: 0;
            padding: 0;
        {#width: 100%;#}{#height: 100%;#}{#background: url("{% static 'images/background_default.jpg' %}") no-repeat 0 0 transparent;#}
        }

        .background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            z-index: -10;
        }
    </style>
</head>
<body>
{% block mynav %}
    <nav class="container navbar bg-body-tertiary bg-default fixed-layout">
        <div class="" style="justify-content: flex-start;display: flex;margin-left: 100px">
            <a class="navbar-brand text-center" href="#" style="display: flex;
		align-items: center;color: #248ccc;font-size: 30px;">
                <img src="{% static 'images/logo.png' %}" alt="Logo" width="50" height="50"
                     class="d-inline-block align-text-top" style="margin-right: 15px">
                医道有易
            </a>
        </div>
        <div class="" style="padding-right: 100px;display: flex;justify-content: flex-end;align-items: center">
            <div class=""
                 style="justify-items: right;justify-content: space-between;display: flex">
                <div style="display: flex;align-content: center!important;align-items: center;">
                    <a href="#">
                        <img alt="50x50" id="avatar" src="/media/avatars/{{ request.session.info.avatar }}"
                             width="50px" height="50px"
                             class="rounded img-fluid"/>
                    </a>
                </div>
                <div class="dropdown" style="padding: 5px;">
                    <button class=" btn btn-default dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        {{ request.session.info.name }}
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/user/{{ request.session.info.id }}/edit/">个人中心</a></li>
                        <li><a class="dropdown-item" href="#">消息通知</a></li>
                        <li><a class="dropdown-item" href="/logout/">注销</a></li>
                    </ul>
                </div>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            {#        侧边导航栏#}
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel" style="width: 40%">
                <div class="offcanvas-header" style="width: 100%;">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">医道有易，为您导航</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="width: 100%;">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/doc/query/"><i
                                    class="fa-solid fa-magnifying-glass"></i>文献检索
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chart/list/">
                                <i class="fa-solid fa-chart-simple"></i>数据统计
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                <i class="fa-solid fa-file"></i>
                                资源管理
                            </a>
                            <ul class="dropdown-menu" style="width: 100%;">
                                <li><a class="dropdown-item" href="/doc/list/">
                                    <i class="fa-solid fa-file-pdf "></i>文献管理
                                </a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/admin/">
                                    <i class="fa-solid fa-user"></i>后台管理
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <canvas id="particles-js" class="background"></canvas>
{% endblock %}
<div>
    {% block info %}{% endblock %}
</div>
<script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.3.0/js/all.min.js"></script>
<script src="{% static 'plugins/bootstrap-5.2.3/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/Darkmode.js/1.5.7/darkmode-js.min.js"></script>
<script type="text/javascript">

    $(function () {
        thememode();
    })

    function thememode() {
        const options = {
            bottom: 'unset', // default: '32px'
            right: 'unset', // default: '32px'
            left: '15px', // default: 'unset'
            time: '0.5s', // default: '0.3s'
            mixColor: '#fff', // default: '#fff'
            backgroundColor: '#fff', // default: '#fff'
            buttonColorDark: '#100f2c', // default: '#100f2c'
            buttonColorLight: '#fff', // default: '#fff'
            saveInCookies: true, // default: true,
            label: '🌓', // default: ''
            autoMatchOsTheme: true// default: true
        }

        function addDarkmodeWidget() {
            let darkmode = new Darkmode(options);
            darkmode.showWidget();
            $(".darkmode-toggle").on('click', function () {
                if (darkmode.isActivated()) {
                    $(".panel").attr('class', 'panel panel-success')
                    $(".list-group-item[id]").css({
                        "color": "#3c763d",
                        "background-color": "#a5d29a",
                        "border-color": "#d6e9c6"
                    });
                    console.log('设置面板样式', darkmode.isActivated())
                } else {
                    $(".panel").attr('class', 'panel panel-info')
                    $(".list-group-item[id]").css({
                        "color": "#3c763d",
                        "background-color": "#dff0d8",
                        "border-color": "#d6e9c6"
                    });
                    console.log('恢复面板样式', darkmode.isActivated())
                }
            })

        }

        window.addEventListener('load', addDarkmodeWidget);
    }

    {#const darkmode = new Darkmode(options);#}
    {#darkmode.showWidget();#}


</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script type="text/javascript">
    window.onload
        = function () {
        Particles.init
        ({
            selector:
                '.background'
        });
    };
</script>
{% block myscript %}
{% endblock %}
</body>

</html>