{% load cache %}
{% load static %}
{#{% load compress %}#}
{% cache None 'head_graph' %}
    <!DOCTYPE html>
    <html style="height: 100%;width:100%" lang="en">
    <head>
        <meta charset="UTF-8">
        <title>医学知识图谱</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static '/images/logo.png' %}" type="image/x-icon"/>
        <link rel="shortcut icon" href="{% static '/images/logo.png' %}" type="image/x-icon"/>
        <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
        {#        {% compress css %}#}
        <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.2.3/css/bootstrap.min.css' %}">
        <style>
            /* Let's get this party started */
            ::-webkit-scrollbar {
                width: 7px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                -webkit-border-radius: 10px;
                border-radius: 10px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                -webkit-border-radius: 10px;
                border-radius: 10px;
                background: rgb(205, 206, 224);
                -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
            }

            ::-webkit-scrollbar-thumb:window-inactive {
                background: rgb(255, 255, 255);
            }

            html, body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            {#background: url("{% static '/images/bg.jpg' %}") no-repeat 0 0 transparent;#}
            }

            .background {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -10;
            }
        </style>
        {#        {% endcompress %}#}
    </head>
{% endcache %}
<body>
<div class="container-fluid clearfix" style="height: 100%;width: 100%">
    <canvas id="particles-js" class="background"></canvas>
    <nav class="navbar bg-body-tertiary" style="position: static!important;">
        <div class="container-fluid">
            <a class="navbar-brand">医学知识图谱</a>
            <form class="d-flex" role="search" method="post" action="/chart/graph/">
                {% csrf_token %}
                <input class="form-control me-2" name="disease_node" type="text"
                       placeholder="Search for disease" style="padding-right: 50px ">
                <button class="btn btn-outline-success" type="submit" id="liveToastBtn"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <div class="d-flex">
                <i class="fas fa-expand-arrows-alt" onclick="fullScreen()"
                   style="margin-right: 10px;font-size: 25px;color: black"></i>
                <a href="../../doc/query">
                    <i class="fa-solid fa-magnifying-glass" style="font-size: 25px;color: black"></i>
                </a>
            </div>
            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="liveToast" class="toast fade show text-bg-primary" role="alert" aria-live="assertive"
                     aria-atomic="true">
                    <div class="toast-header">
                        <img height="20px" width="20px" src="{% static '/images/logo.png' %}" class="rounded me-2"
                             alt="...">
                        <strong class="me-auto">智检慧医</strong>
                        <small>{% now "Y-m-d G:i:s" %}</small>
                        <button type="button" id="closetoast" class="btn-close" data-bs-dismiss="toast"
                                aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ ctx }}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="container-fluid" id="chart-panel" style="display: flex;height: 710px;width: 100%;overflow: auto;"></div>

</div>
{% cache None 'plugin' %}
    {#    {% compress js %}#}
    <script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    {#    {% endcompress %}#}
    <script src="https://cdn.bootcdn.net/ajax/libs/Darkmode.js/1.5.7/darkmode-js.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
    {#    {% compress js %}#}
    <script type="text/javascript">
        window.onload
            = function () {
            Particles.init
            ({
                selector:
                    '.background'
            });
        };
    </script>
    <script type="text/javascript">
        $(function () {
            {#listen_window_size();#}
            closetoast();
        })

        function closetoast() {
            $("#liveToast").click(function () {
                $("#liveToast").attr('class', 'toast fade hide')
                console.log('关闭提示')
            })
        }

        function listen_window_size() {
            function set_chart_panel() {
                let h = '710px'
                console.log(h)
                $(window).resize(
                    function () {
                        $("canvas").attr("style", "height:" + h);
                        $("canvas").closest('div').attr("style", "height:" + h);
                        console.log($("#chart-panel").attr("style", "height:" + h));
                    }
                )
            }

            window.onload = function () {
                set_chart_panel();
            }
            window.onresize = function () {
                set_chart_panel();
            }
        }


        function toggleFullScreen() {
            if (!document.fullscreenElement) {
                document.documentElement.requestFullscreen();
            } else {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                }
            }
        }

        //实现全屏
        function fullScreen() {
            toggleFullScreen()
        }
    </script>
    {#    {% endcompress %}#}
{% endcache %}
{#{% compress js %}#}
<script type="text/javascript">
    var neo4j_data = [{{ neo4j_data|safe }}]
    var data1 = neo4j_data[0]['data']
    var links1 = neo4j_data[0]['links']
    {#console.log(typeof (data1))#}
    {#console.log(typeof (links1))#}
    let mapd = new Map();
    for (let item of data1) {
        if (!mapd.has(item.id)) {
            mapd.set(item.id, item);
        }
    }
    let objd = [...mapd.values()];
    let mapl = new Map();
    for (let item of links1) {
        if (!mapl.has(item.id)) {
            mapl.set(item.id, item);
        }
    }
    let objl = [...mapl.values()];
    links1 = objl;
    data1 = objd;
    {#console.log(data1, typeof (data1))#}
    {#console.log(links1, typeof (links1))#}
    var dom = document.getElementById("chart-panel");
    var myChart1 = echarts.init(dom);
    var categories1 = [{name: "Disease"}, {name: "Check"}, {name: "Department"}, {name: "Drug"}, {name: "Food"}, {name: "Producer"}, {name: "Symptom"}];
    var option;
    {#let namels = {#}
    {#    "Disease": "疾病",#}
    {#    "Check": "检查",#}
    {#    "Department": "种类",#}
    {#    "Drug": "宜用药",#}
    {#    "Food": "建议食物",#}
    {#    "Producer": "病因",#}
    {#    "Symptom": "症状"#}
    //}
    option = {
        // 图的标题
        title: {
            {#text: '医学知识图谱'#}
        },
        // 提示框的配置
        tooltip: {
            formatter: function (x) {
                return x.data.des;
            }
        },
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        legend: [{
            x: 'right',      //可设定图例在左、右、居中
            y: 'center',     //可设定图例在上、下、居中
            itemGap: 50,//图例图标与文字间的间距
            data: categories1.map(function (a) {
                {#console.log(namels[a.name])#}
                return a.name;
            }),
            textStyle: {
                //图例字体大小
                fontSize: 18,
            },
            //图例大小
            itemHeight: 25,
            //图例滚动显示
            type: 'scroll',
            //图例纵向显示
            orient: 'vertical',
            //图例位置
            {#right: 0,#}
            {#top: 30,#}
            {#bottom: 30,#}

        }],
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            symbolSize: 50, // 调整节点的大小
            roam: true, // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启

            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [4, 10],
            force: {
                repulsion: 1000,
                edgeLength: [10, 60],
                {#edgeLength: 10,#}
                {#gravity: 0.01,#}
                {#layoutAnimation: false  //初始化时转动动画#}
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#5b65f1',
                }
            },
            edgeLabel: {
                normal: {
                    show: true,
                    formatter: function (x) {
                        return x.data.name;
                    },
                    textStyle: {
                        fontSize: 10
                    }
                }
            },
            label: {
                position: 'center',
                normal: {
                    show: true,
                    textStyle: {}
                }
            },
            // 数据
            data: data1,
            links: links1,
            categories: categories1,
            color: ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'],
        }]
    };
    {#console.log(option)#}
    {#if (option && typeof option === 'object') {#}
    myChart1.setOption(option);


</script>
{#{% endcompress %}#}
{% cache None 'themejs' %}
    {#    {% compress js %}#}
    <script type="text/javascript">

        $(function () {
            thememode();
        })

        function thememode() {
            const options = {
                bottom: 'unset', // default: '32px'
                right: 'unset', // default: '32px'
                left: '150px', // default: 'unset'
                time: '0.5s', // default: '0.3s'
                mixColor: '#fff', // default: '#fff'
                backgroundColor: '#fff', // default: '#fff'
                buttonColorDark: '#100f2c', // default: '#100f2c'
                buttonColorLight: '#fff', // default: '#fff'
                saveInCookies: true, // default: true,
                label: '🌓', // default: ''
                autoMatchOsTheme: true// default: true
            }

            function addDarkmodeWidget() {
                let darkmode = new Darkmode(options);
                darkmode.showWidget();

            }

            window.addEventListener('load', addDarkmodeWidget);
        }

    </script>
    {#    {% endcompress %}#}
{% endcache %}
</body>
</html>
