{% load static %}
<!DOCTYPE html>
<html style="height: 100%;width:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static '/images/logo.png' %}" type="image/x-icon"/>
    <link rel="shortcut icon" href="{% static '/images/logo.png' %}" type="image/x-icon"/>
    <title>医学知识图谱</title>

</head>
<body style="height: 100%; width:100%">
<!-- <div id="container" style="width: 800px;height: 700px;border: 2px solid black;float: left;margin-top: 50px;"></div> -->
<div id="chart-panel" style="height: 100%;width: 100%;overflow: hidden;"></div>
<script type="text/javascript" src="{% static 'js/echarts.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
<script type="text/javascript">
    var neo4j_data = [{{ neo4j_data|safe }}]
    var data1 = neo4j_data[0]['data']
    var links1 = neo4j_data[0]['links']
    console.log(typeof (data1))
    console.log(typeof (links1))
    let mapd = new Map();
    for (let item of data1) {
        if (!mapd.has(item.id)) {
            mapd.set(item.id, item);
        }
    }
    let objd = [...mapd.values()];
    let mapl = new Map();
    for (let item of links1) {
        if (!mapl.has(item.id)) {
            mapl.set(item.id, item);
        }
    }
    let objl = [...mapl.values()];
    links1 = objl;
    data1 = objd;
    console.log(data1, typeof (data1))
    console.log(links1, typeof (links1))
    var dom = document.getElementById("chart-panel");
    var myChart1 = echarts.init(dom);
    var categories1 = [{name: "Disease"}, {name: "Check"}, {name: "Department"}, {name: "Drug"}, {name: "Food"}, {name: "Producer"}, {name: "Symptom"}];
    var option;
    option = {
        // 图的标题
        title: {
            text: '医学知识图谱'
        },
        // 提示框的配置
        tooltip: {
            formatter: function (x) {
                return x.data.des;
            }
        },
        // 工具箱
        toolbox: {
            // 显示工具箱
            show: true,
            feature: {
                mark: {
                    show: true
                },
                // 还原
                restore: {
                    show: true
                },
                // 保存为图片
                saveAsImage: {
                    show: true
                }
            }
        },
        legend: [{
            {#selectedMode: 'single',#}
            data: categories1.map(function (a) {
                return a.name;
            })
        }],
        series: [{
            type: 'graph', // 类型:关系图
            layout: 'force', //图的布局，类型为力导图
            symbolSize: 50, // 调整节点的大小
            roam: 'scale', // 是否开启鼠标缩放和平移漫游。默认不开启。如果只想要开启缩放或者平移,可以设置成 'scale' 或者 'move'。设置成 true 为都开启

            edgeSymbol: ['circle', 'arrow'],
            edgeSymbolSize: [4, 10],
            force: {
                repulsion: 1000,
                edgeLength: [10, 50]
            },
            draggable: true,
            lineStyle: {
                normal: {
                    width: 2,
                    color: '#5b65f1',
                }
            },
            edgeLabel: {
                normal: {
                    show: true,
                    formatter: function (x) {
                        return x.data.name;
                    },
                    textStyle: {
                        fontSize: 20
                    }
                }
            },
            label: {
                position: 'right',
                normal: {
                    show: true,
                    textStyle: {}
                }
            },
            // 数据
            data: data1,
            links: links1,
            categories: categories1,
            color: ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622', '#bda29a', '#6e7074', '#546570', '#c4ccd3'],


        }]
    };
    console.log(option)
    {#if (option && typeof option === 'object') {#}
    myChart1.setOption(option);

</script>
{#<script type="text/javascript">#}
{#    //根据不同的分辨率调用不同的css和js#}
{#document.write("<link href='{% static 'css/visualization_1280.css' %}' rel='stylesheet' type='text/css'>");#}
{##}
{#document.writeln("<script type=\"text/javascript\" src=\"{% static 'js/visualization_1280.js' %}\"><\/script>");#}
{##}
{#    if (window.screen.width >= 1600) {#}
{#        document.write("<link href='.{% static 'css/visualization_1920.css' %}' rel='stylesheet' type='text/css'>");#}
{#        document.writeln("<script type=\"text/javascript\" src=\"{% static 'js/visualization_1920.js' %}\"><\/script>");#}
{#    } else if (window.screen.width < 1600 && window.screen.width >= 1280) {#}
{#        document.write("<link href='{% static 'css/visualization_1280.css' %}' rel='stylesheet' type='text/css'>");#}
{#        document.writeln("<script type=\"text/javascript\" src=\"{% static 'js/visualization_1280.js' %}\"><\/script>");#}
{#    } else {#}
{#        document.write("<link href='{% static 'css/visualization_1024.css' %}' rel='stylesheet' type='text/css'>");#}
{#        document.writeln("<script type=\"text/javascript\" src=\"{% static 'js/visualization_1024.js' %}\"><\/script>");#}
{##}
{#    }#}
{#</script>#}
</body>
</html>
