{% extends 'login.html' %}
{% block mytitle %}
    <title>用户注册</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/dropzone/5.9.3/dropzone.min.css" rel="stylesheet">
    <style>
        .dropzone > .dz-message {
            margin: 0 auto;
        }
    </style>
{% endblock %}
{% block myinfo %}
    <div class="container" style="flex-wrap: wrap;justify-content: center;display: flex;align-items: center;">
        <div class="login-wrapper">
            <form id="signup_form" method="post" action="/register/" novalidate
                  enctype="multipart/form-data" class="form-group">
                {% csrf_token %}
                <div class="header">Register</div>
                <div class="container-fluid form-wrapper clearfix">
                    {{ form.username }}
                    <span style="color: red">{{ form.username.errors }}</span>
                    {{ form.email }}
                    <span style="color: red">{{ form.email.errors }}</span>
                    {{ form.password }}
                    <span style="color: red">{{ form.password.errors }}</span>
                    {{ form.confirm_password }}
                    <span style="color: red">{{ form.confirm_password.errors }}</span>
                    {#                    <div style="display: none">#}
                    {#                        {{ form.avatar }}#}
                    {#                    </div>#}
                    <div class="row" style="align-items: center">
                        <div class="col">
                            {{ form.code }}
                            <span style="color: red">{{ form.code.errors }}</span>
                        </div>
                        <div class="col text-center">
                            <input type="button" class="btn btn-outline-info"
                                   id="send_email_btn" value="发送验证码">
                            <span id="cnt" class="btn"
                                  style="color: red;width: 100%;display:flex;align-items: center;justify-content: center"></span>
                        </div>
                    </div>
                    <input class="sub" type="submit" value="Register">
                </div>
            </form>
            <div class="msg">
                Do have account? <a href="/login/">sign in</a>
            </div>
        </div>
    </div>
    <canvas class="background"></canvas>
{% endblock %}
{% block myscript %}
    <script src="https://cdn.bootcdn.net/ajax/libs/dropzone/5.9.3/dropzone.js"></script>
    <script type="text/javascript">
        {#$("#id_avatar").hide();#}

        $(function () {
            send_checkcode();
            {#binddrop_avatar();#}
        })

        function binddrop_avatar() {
            let avatar = $("#id_avatar");
            avatar.change(function () {
                console.log(avatar.val())
                if (avatar.val()) {
                    $("#tip").text(avatar.val())
                    {#avatar.show()#}
                } else {

                }
            })

        }

        function send_checkcode() {
            let send_btn = $("#send_email_btn");
            send_btn.click(function () {
                let email = $("#id_email").val();
                {#console.log(email)#}
                $.ajax({
                    url: "/checkcode/",
                    type: "POST",
                    data: {
                        'email': email
                    },
                    dataType: 'json',
                    success: function (res) {
                        {#console.log(res);#}
                        if (res.status === "发送成功") {
                            let cnt = $("#cnt")
                            let second = 60;
                            let interval = setInterval(function () {
                                second--;
                                cnt.text((second) + "秒后将失效");
                                send_btn.hide();
                                cnt.attr('class', 'btn btn-outline-info')
                                cnt.show();
                                if (second === -1) {
                                    send_btn.val("重发验证码");
                                    clearInterval(interval);
                                    cnt.hide();
                                    send_btn.show();
                                }
                            }, 1000);
                        } else {
                            send_btn.val("发送失败");
                        }
                    }
                })
            })
        }
    </script>
{% endblock %}

