{% extends 'layout.html' %}
{% block mytitle %}
    <title>用户列表</title>
{% endblock %}
{% block mystyle %}
{% endblock %}
{% block info %}
    <div class="container">
        <div style="margin-bottom: 10px">
            <a href="/user/add/" class="btn btn-primary"><i class="fa fa-plus"></i>新建用户</a>
            <a href="/user/modelform/add/" class="btn btn-primary"><i
                    class="fa fa-plus-circle"></i>新建用户(基于ModelForm)</a>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading"><i class="fa fa-list"></i> 部门列表</div>
            <table class="table table-hover table-condensed table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>用户名</th>
                    <th>密码</th>
                    <th>年龄</th>
                    <th>账户余额</th>
                    <th>入职时间</th>
                    <th>性别</th>
                    <th>部门</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody class="text-center">
                {% for userinfo in queryset %}
                    <tr>
                        <th scope="row">{{ userinfo.id }}</th>
                        <td>{{ userinfo.name }}</td>
                        <td>{{ userinfo.password }}</td>
                        <td>{{ userinfo.age }}</td>
                        <td>{{ userinfo.account }}</td>
                        <td>{{ userinfo.create_time|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ userinfo.get_gender_display }}</td>
                        <td>{{ userinfo.depart.title }}</td>
                        <td><a href="/user/{{ userinfo.id }}/edit/" class="btn btn-info btn-xs">编辑</a><a
                                href="/user/{{ userinfo.id }}/delete/"
                                class="btn btn-danger btn-xs">删除</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="text-center">
            <ul class="pagination pagination-xs">
                {{ page_str }}
            </ul>
        </div>
    </div>
{% endblock %}