{% extends 'layout.html' %} # 继承父模块的标识
{% block mytitle %}
    <title>用户信息</title>
{% endblock %}
{% block mystyle %}
    <style>
        form {
            background-color: #f1f1f1;
            border-radius: 20px;
            padding: 30px 20px;
            box-shadow: 0 0 13px -3px #454659
        }
    </style>
{% endblock %}
{% block info %}
    <div class="container text-center" style="margin: 100px auto;width: 600px;">
        {% block actiontitle %}
            <h4 class="text-default">编辑信息</h4>
        {% endblock %}
        <div class="container" style="margin: auto">
            {% block userform %}
                <form class="wrappercontent input-group" method="post" novalidate enctype="multipart/form-data"
                      style="width: 100%;justify-content: center;align-items: center;">
                    {% csrf_token %}
                    {% for item in form %}
                        {% if item.label != "验证码" %}
                            {% if item.label == "头像" %}
                                <div class="col-md-12 g-3" id="avatar_wrapper"
                                     style="width: 100%;text-align: center;margin: 15px;overflow: hidden">
                                    <label>{{ item.label }}</label>
                                    <div hidden>
                                        {{ item }}
                                    </div>
                                    {#                                            <span style="color: #c12c1f;float: bottom"><strong>{{ item.errors.0 }}</strong></span>#}
                                    {#                                            <span class="err_msg" style="color: #c12c1f"></span>#}
                                    <div id="avatar_container" onclick="$('input[id=id_avatar]').click();"
                                         style="font-size: 15px;padding: 0;margin-left: 0;margin-top: 0px;margin-bottom: 15px">
                                        <img alt="88x88" id="avatar"
                                             src="/media/avatars/{{ request.session.info.avatar }}"
                                             width="88px" height="88px"
                                             class="rounded-circle img-fluid"/>
                                        <span id="avatar_value"></span>
                                    </div>
                                </div>
                            {% endif %}
                            {% if item.label != "头像" %}
                                <div class="col-xs-6 g-3" style="overflow: hidden;margin: 15px;">
                                    <label>{{ item.label }}</label>
                                    {{ item }}
                                    <span style="color: #c12c1f;position: relative;"><strong>{{ item.errors.0 }}</strong></span>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="g-3 col-md-12" style="display: block">
                        <input class="button--submit " value="保存" type="submit">
                    </div>
                    <div class="g-3 col-md-6">

                    </div>
                </form>
            {% endblock %}
        </div>
    </div>
    {#        </div>#}
    {#    </div>#}
{% endblock %}
{% block myscript %}
    <script type="text/javascript">
        $(function () {
            add_avatar_value();
        })

        function add_avatar_value() {
            $('input[id=id_avatar]').change(function () {
                if ($(this).val() !== '') {
                    console.log($(this).val())
                    showImg($(this)[0]);
                    $("#avatar_value").text($(this).val())
                } else {

                }
            });
        }

        function showImg(obj) {
            var objUrl = getObjectURL(obj.files[0]);
            if (objUrl) {
                {#$(div > i).remove()#}
                $("#avatar_wrapper").css('border', 'medium')
                {#$(obj).after('<img class="rounded-circle" src="' + objUrl + '" alt="" style="width:50px;height:50px"> &nbsp;&nbsp;');#}
                $("#avatar_container").html('<img class="rounded-circle" src="' + objUrl + '" alt="" style="width:88px;height:88px;margin: auto">')
            }
        }

        function getObjectURL(file) {
            var url = null;
            if (window.createObjectURL !== undefined) {
                url = window.createObjectURL(file);
            } else if (window.URL !== undefined) {
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL !== undefined) {
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    </script>
{% endblock %}
