* {
    font-family: 'Open Sans Light', serif;
    letter-spacing: .05em;

}

@font-face {
    font-display: optional
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
}

input:focus {
    border-radius: 2px 2px 5px 5px;
    box-shadow: 4px 4px 2px 1px #444141;
    outline: none;
}

.container {
    height: 100%;
    z-index: 0;
}

.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    width: 500px;
    border-radius: 15px;
    padding: 0 50px;
    box-shadow: 0 35px 25px 19px #808284;
}

.login-wrapper .header {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.login-wrapper .form-wrapper .input-item {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 15px;
    outline: none;
}

.login-wrapper .form-wrapper .input-item::placeholder {
    text-transform: uppercase;
}

.login-wrapper .form-wrapper .sub {
    text-align: center;
    padding: 5px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
}

.login-wrapper .msg {
    text-align: center;
    line-height: 50px;
}

.login-wrapper .msg a {
    font-weight: bold;
    transition: color .3s ease;
    text-decoration-line: none;
    color: #a6c1ee;
}


.input-item {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
}


/*Button*/
.sub {
    background: linear-gradient(135deg, #79f1a4, #0e5cad);
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
}

#vcode {
    height: 35px;
    width: 50%;
    display: inline-block;
    /*padding-left: 8px;*/
}

a > img {
    width: 100%;
}

a:hover {
    color: #f30b64;
}

/*轮播字*/
:root {
    --offset: 6px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h2 {
    width: 1000px;
    font-size: 100px;
    font-family: Helvetica, serif;
    margin: 15px auto;
    line-height: 1.06;
    letter-spacing: -0.02em;
    color: #a2a2a2;
}

.mask {
    height: 56px;
    width: 200px;
    margin-left: 67%;
    position: relative;
    overflow: hidden;
    margin-top: -49px;
}

.mask span {
    display: block;
    font-weight: 800;
    font-size: 33px;
    box-sizing: border-box;
    position: absolute;
    top: 100px;
    padding-bottom: var(--offset);

    background-size: 100% 100%;
    -webkit-background-clip: text;
    /*-webkit-background-clip: text;*/
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
}

.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}

.mask span:nth-child(5) {
    background-image: linear-gradient(135deg, #ffa8a8, #fcff00)
}